BODY {
	margin:0;
	padding:0;
}

.header {
	width:100%;
	height:10%;
	background-color:blue;
	color:white;
	text-align:center;
}
.main {
	height:80%;
	
}

.main .a1,.a3,.a2 {
	height:100%;
	float:left;
	text-align:center;
}

.a1, .a3 {
	width:20%;
	background-color:skyblue;	
}

.a2 {
	width:60%;
	background-color:orange;
}

.footer {
	width:100%;
	height:10%;
	background-color:blue;
	color:white;
	text-align:center;
}
.div_1 {
	float:left;
	height:50px;
	width:50px;
}

.div_2 {
	float:left;
	height:100px;
	width:100px;
}
.div_3 {
	float:left;
	height:200px;
	width:200px;
}
.div_4 {
	float:left;
	height:300px;
	width:300px;
}

img {
	height:100%;
	width:100%;
}

