.mainDiv {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #dedfec;
}

.branchHeader {
  margin: 10px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stepBox {
  display: flex;
  align-items: center;
  .box {
    background-color: #f1f2f8;
    padding: 12px 17px 11px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
  }
  span {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
  }
}
.addBranchBtn,
.addBranchBtn:hover {
  background-color: #f1f2f8;
  color: #272848;
  font-weight: 550;
}

.address {
  margin-right: 0px !important;
}

.smallRightMargin {
  margin-right: 5px !important;
}
