<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,500&display=swap"
            rel="stylesheet">
        <script src="https://kit.fontawesome.com/7fe8f52306.js" crossorigin="anonymous"></script>
        <title>Demo page</title>
    </head>

    <body>
        <div class="container-fluid container-xl  p-0">
            <div class="d-flex p-2">
                <div class="col-11 col-lg-5 col-xl-6 row align-items-center ">
                    <img class="col-10 h-75" src="CCW assets/carpet cleaning world logo.png " alt="">
                </div>
                <div class="align-items-center d-none d-lg-flex col-lg-7 col-xl-6">
                    <div class="col-lg-4">
                        <img src="CCW assets/visa-master.png" alt="" class="mx-3">
                    </div>
                    <div class="d-flex align-items-center mx-xl-3 col-lg-4">
                        <img src="CCW assets/Call.png" alt="" class="mx-2">
                        <div class="d-flex flex-column justify-content-center">
                            <p class="font2 mb-0">Call Us Now</p>
                            <p class="font1 mb-0">132 5345 657</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mx-xl-3 col-lg-4">
                        <img src="CCW assets/Get a quote.png" alt="" class="mx-2">
                        <div class="d-flex flex-column  align-items-center">
                            <p class="font2 mb-0">Get A Quote</p>
                            <p class="font1 mb-0">132 5345 657</p>
                        </div>
                    </div>
                </div>
                <div class="col-1 d-lg-none d-flex align-items-center v-100 ">
                    <button class="navbar-toggler custom-toggler rounded-circle p-2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbar">
                        <span class="navbar-toggler-icon "></span>
                    </button>

                </div>
            </div>
            <div class="collapse navbar-collapse " id="navbar" style="background-color: #234ba5;">
                <ul class="navbar-nav mx-3">
                    <li class="nav-item"><a class="nav-link  text-white " href="#">Home</a> </li>
                    <li class="nav-item"><a class="nav-link  text-white" href="#"> Other Services</a></li>
                    <li class="nav-item "><a class="nav-link text-white" href="#">Flood/Water damage
                            Restoration</a> </li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Carpet Cleaning</a> </li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Gallery</a> </li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Contact Us</a> </li>
                </ul>
            </div>

            <div class="d-flex flex-column align-items-center">
                <div class="container-fluid  p-0 d-lg-flex justify-content-center d-none "
                    style="background-color: #234ba5;">
                    <ul class="nav justify-content-evenly  col-lg-10 ">
                        <li class="nav-item"><a class="nav-link  text-white" href="#">Home</a> </li>
                        <li class="nav-item"><a class="nav-link  text-white" href="#"> Other Services</a></li>
                        <li class="nav-item "><a class="nav-link text-white" href="#">Flood/Water damage
                                Restoration</a> </li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Carpet Cleaning</a> </li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Gallery</a> </li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Contact Us</a> </li>
                    </ul>
                </div>
                <div class="container-fluid  p-0 h-25">
                    <img src="CCW assets/person-cleaning-carpet-with-vacuum-cleaner-picture-id1191080465.jpg" alt=""
                        class="w-100 img-height">
                </div>
            </div>
            <div class="container-fluid  mt-4 p-0 ">
                <p class="text-center h4 ">
                    <span class=" font2 border-3 border-bottom border-danger pb-2">
                        Carpet Cleaning Melbourne
                    </span>
                </p>
            </div>
            <div class="container-fluid container-xl-fluid p-0 mt-4 p-2">

                <div class="col-11 d-flex align-items-center justify-content-evenly w-100 flex-column flex-lg-row">
                    <div class=" m-sm-3   image-box order-1 order-lg-0 align-self-lg-stretch">
                        <div class="row row-cols-2 m-0 h-50 ">
                            <img class="col py-2 px-2" src="CCW assets/carpet-water-extraction.jpg" alt="">
                            <img class="col py-2 ps-0 pe-2 " src="CCW assets/carpet-cleaners.jpg" alt="">
                        </div>
                        <div class="row row-cols-2 m-0 h-50">
                            <img class="col pb-2 px-2 " src="CCW assets/download.png" alt="">
                            <img class="col pb-2 ps-0 pe-2" src="CCW assets/How-to-Steam-Clean-Carpets.jpg" alt="">
                        </div>
                    </div>


                    <div class="col-lg-6 ms-lg-3  m-sm-3 order-2 order-lg-0 mt-4  ">
                        <p class="font2 text-dark text-justify ">Melbourne's #1 Carpet Steam Cleaning Team! Over 16
                            Years Experience.
                            Call Us Now 0430 334 325
                        </p>
                        <p class="font1 text-justify text-dark ">
                            Carpet Cleaning World is a registered carpet, tile and grout cleaning specialist
                            in Melbourne, established with a very clear vision to provide “affordable and
                            professional carpet cleaning services in Melbourne and all around Melbourne”.
                            We provide best Carpet cleaning services to residential and commercial clients
                            in Melbourne.
                        </p>
                        <p class="font2 text-dark text-justify ">Carpet Cleaning World has a basic aim, “Quality Service
                            at an
                            Affordable
                            Price”.
                        </p>
                        <p class="font1 text-justify text-dark ">
                            Here at Carpet Cleaning World we take care of all your carpet cleaning needs.
                            We have built a strong reputation in the cleaning industry and strive to deliver
                            quality services you can count on. Whether your carpets cleaned to get your
                            bond refunded or it’s simply time for a spring clean, our cleaners are ready to
                            help you.
                        </p>
                        <p class="font1 text-justify text-dark ">Every Carpet Cleaning World technician is
                            professionally
                            trained
                            &
                            experienced.
                            We connect customers with certified cleaning professionals that offer effective
                            long lasting results. Call the Carpet Cleaning World in Melbourne today to get
                            your home looking fresh and clean. All professional carpet cleaning work is
                            100% guaranteed.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid container-xl-fluid p-0 mt-4 d-flex flex-column align-items-center pb-5"
                style="background-color: #f2f2f2;">
                <p class="h3 text-center mt-4 ">
                    <span class="wh-100 font2 border-3 border-bottom border-danger pb-2">
                        Our Services
                    </span>
                </p>
                <div class="col-10 mt-4 row flex-lg-nowrap flex-md-column  flex-lg-row">

                    <div class="col-lg-6 col-md-12  me-lg-3 order-1">
                        <div class="row flex-md-nowrap flex-column flex-md-row">
                            <div class="card col-md-6 me-md-2  mt-2">
                                <div class="card-body">
                                    <img src="CCW assets/carpet cleaning system.png" alt="">
                                </div>
                                <p class="font1 text-center">Carpet Steam Cleaning</p>
                            </div>
                            <div class="card col-md-6 me-md-2   mt-2">
                                <div class="card-body">
                                    <img src="CCW assets/carpet drying.png" alt="">
                                </div>
                                <p class="font1 text-center">Carpet Dry Cleaning</p>
                            </div>
                        </div>
                        <div class="row flex-md-nowrap flex-column flex-md-row">
                            <div class="card col-md-6 me-md-2  mt-2">
                                <div class="card-body">
                                    <img src="CCW assets/tile and grouting.png" alt="">
                                </div>
                                <p class="font1 text-center">Tile and Grout Cleaning</p>
                            </div>
                            <div class="card col-md-6 me-md-2  mt-2">
                                <div class="card-body">
                                    <img src="CCW assets/air-duct cleaning.png" alt="">
                                </div>
                                <p class="font1 text-center">Air Ducts Cleaning</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12  me-lg-3 order-2 ">
                        <div class="row flex-md-nowrap flex-column flex-md-row ">
                            <div class="card col-md-6 me-md-2 mt-2">
                                <div class="card-body">
                                    <img src="CCW assets/rugs.png" alt="">
                                </div>
                                <p class="font1 text-center">Rugs & Upholstery Cleaning</p>
                            </div>
                            <div class="card col-md-6   mt-2">
                                <div class="card-body">
                                    <img src="CCW assets/Carpet Stain _ Spot Treatment.png" alt="">
                                </div>
                                <p class="font1 text-center">Carpet Stain & Spot Treatment</p>
                            </div>
                        </div>
                        <div class="row flex-md-nowrap flex-column flex-md-row">
                            <div class="card col-md-6 me-md-2  mt-2">
                                <div class="card-body">
                                    <img src="CCW assets/couch cleaning.png" alt="">
                                </div>
                                <p class="font1 text-center">Couch Cleaning </p>
                            </div>
                            <div class="card col-md-6  mt-2">
                                <div class="card-body">
                                    <img src="CCW assets/water damage restoration.png" alt="">
                                </div>
                                <p class="font1 text-center">Water Damage Restoration</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid container-md p-0 mt-4">
                <div class="row px-3 px-lg-0">
                    <div class="col-md-6 ">
                        <p class="font2 text-dark text-justify  ">Lorem ipsum dolor sit amet consectetur
                        </p>
                        <p class="font1 text-justify text-dark">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, laudantium ipsam nam
                            sit quaerat repudiandae totam illo cum distinctio, et sint quo delectus earum tempora
                            dolorem facere modi alias adipisci. Perspiciatis quos ad doloremque delectus, animi
                            explicabo natus corporis doloribus asperiores nostrum tenetur et repudiandae, similique
                            nulla maxime odit dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Deserunt deleniti mollitia unde a adipisci tempore alias ex et illum excepturi repellendus,
                            obcaecati possimus officia ducimus sunt, beatae eos libero corporis? Fugiat nisi corrupti
                            unde hic. Atque odio molestias blanditiis, maxime in magnam amet maiores ipsam labore qui,
                            quo ratione. Quae ad impedit ullam temporibus iusto distinctio assumenda animi quisquam
                            laudantium a debitis voluptate, et necessitatibus fuga molestiae pariatur ea similique
                        </p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus deserunt nobis, magni
                            alias ad ipsa officiis incidunt aperiam voluptas. Praesentium.</p>
                    </div>
                    <div class="col-md-6 ">
                        <p class="font2 text-dark text-justify ">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Omnis
                            veritatis
                            blanditiis autem dolorum
                            laboriosam mollitia cumque, at illo repellendus quasi doloribus, amet, hic cupiditate
                            consequatur nam libero saepe molestias rem.</p>
                        <p class=" font1 text-justify text-dark">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, laudantium ipsam nam
                            sit quaerat repudiandae totam illo cum distinctio, et sint quo delectus earum tempora
                            dolorem facere modi alias adipisci. Perspiciatis quos ad doloremque delectus, animi
                            explicabo natus corporis doloribus asperiores nostrum tenetur et repudiandae, similique
                            nulla maxime odit dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Deserunt deleniti mollitia unde a adipisci tempore alias ex et illum excepturi repellendus,
                            obcaecati possimus officia ducimus sunt, beatae eos libero corporis? Fugiat nisi corrupti
                            unde hic. Atque odio molestias blanditiis, maxime in magnam amet maiores ipsam labore qui,
                            quo ratione. Quae ad impedit ullam temporibus iusto distinctio assumenda animi quisquam
                            laudantium a debitis voluptate, et necessitatibus fuga molestiae pariatur ea similique
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid m-0 p-0 mt-4 d-flex justify-content-center row"
                style="background-color: #234ba5;">
                <div class="col-10 pt-3 text-center">
                    <p class=" font2 text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nam, dolorum.</p>
                    <p class="font1 text-white ">Call Us Now</p>
                    <button class="btn btn-danger mb-3">
                        <span class="fas fa-phone-alt text-white ">
                            <!-- <img src="CCW assets/call 2.png" alt=""> -->
                        </span>
                        <span class="font2 text-white">&nbsp; 01 02 123 485</span>
                    </button>
                </div>

            </div>
            <div class="container-fluid  p-0 mt-4 d-flex flex-column align-items-center justify-content-center pb-2"
                style="background-color: #234ba5;">
                <p class="h3 text-center mt-4 mb-5">
                    <span class="wh-100 font2 border-3 border-bottom border-danger pb-2 text-white">
                        Why choose us?
                    </span>
                </p>
                <div class="col-10 row justify-content-center">
                    <div
                        class="col-6 col-md-4 col-lg-2 bg-transparent border-0 align-items-center justify-content-evenly  mb-2 card h-50">
                        <div class="card-body ">
                            <i class="fas fa-users text-white " style="font-size: 3rem;"></i>
                        </div>
                        <div class="card-footer border-0 bg-transparent text-white text-center font1 ">
                            Realiable, Freindly and honest
                        </div>

                    </div>
                    <div
                        class="col-6 col-md-4 col-lg-2 bg-transparent border-0 align-items-center justify-content-evenly  mb-2 card h-50 ">
                        <div class="card-body">
                            <i class="fas fa-clipboard-check text-white pb-0" style="font-size: 3rem;"></i>

                        </div>
                        <div class="card-footer border-0 bg-transparent text-white text-center font1 ">
                            Fully ensure & Boned
                        </div>


                    </div>
                    <div
                        class="col-6 col-md-4 col-lg-2 bg-transparent border-0 align-items-center justify-content-center  mb-2 card h-50">
                        <div class="card-body">
                            <i class="fab fa-cloudversify text-white pb-0" style="font-size: 3rem;"></i>

                        </div>
                        <div class="card-footer border-0 bg-transparent text-white text-center font1">
                            Offer steam or Dry Cleaning
                        </div>


                    </div>
                    <div
                        class="col-6 col-md-4 col-lg-2 bg-transparent border-0 align-items-center justify-content-center  mb-2 card h-50">
                        <div class="card-body">
                            <i class="fas fa-phone-alt text-white pb-0" style="font-size: 3rem;"></i>

                        </div>
                        <div class="card-footer border-0 bg-transparent text-white text-center font1">
                            24/7 Water damage Emergency
                        </div>


                    </div>
                    <div
                        class="col-6 col-md-4 col-lg-2 bg-transparent border-0 align-items-center justify-content-center  mb-2 card h-50">
                        <div class="card-body">
                            <i class="fas fa-user-shield text-white p-0" style="font-size: 3rem;"></i>

                        </div>
                        <div class="card-footer border-0 bg-transparent text-white text-center font1">
                            16+ Years of Experience
                        </div>


                    </div>
                    <div
                        class="col-6 col-md-4 col-lg-2 bg-transparent border-0 align-items-center justify-content-center  mb-2 card h-50">
                        <div class="card-body">
                            <i class="fas fa-briefcase  text-white p-0" style="font-size: 3rem;"></i>

                        </div>
                        <div class="card-footer border-0 bg-transparent text-white text-center font1 ">
                            7 Days service
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid d-flex justify-content-center mt-4">
                <div class="col-lg-10">
                    <p class="font2 text-dark  text-center  ">Affordable Price carpet cleaning in Melbourne
                    </p>
                    <p class="font1 text-dark text-lg-center text-justify">Lorem ipsum dolor sit, amet consectetur
                        adipisicing
                        elit. Ullam hic, cumque in vel possimus maxime
                        eum tempore odit sed quam!Lorem ipsum <strong>Affordable Price!</strong> amet consectetur
                        adipisicing
                        elit. Ullam hic, cumque in vel
                        eum tempore odit sed quam!</p>
                    <p class="font1 text-dark text-lg-center text-justify">Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Nostrum eaque recusandae autem? Vel
                        maiores nisi quia minima, magnam repudiandae quidem vero. Doloribus, amet omnis animi in enim
                        voluptas, quisquam odit vel est iste aliquam, libero eaque vero odio nulla dolor? Sint, odio
                        nisi! Omnis placeat ratione magnam atque quas eveniet fugiat blanditiis quisquam alias, odit
                        eaque minus rem provident repellat neque assumenda facere. Eos accusamus magni accusantium
                        praesentium exercitationem modi sapiente temporibus odio placeat quam perspiciatis et, quos,
                        saepe delectus, voluptatibus necessitatibus enim molestiae nam! Fuga, minima quos nihil
                        laboriosam cumque suscipit! Quod recusandae, enim nihil excepturi <strong>Affordable
                            Price!</strong>
                    </p>
                    <p class="font2 text-dark text-sm-center text-justify  text-decoration-underline ">Lorem ipsum dolor
                        sit
                        amet consectetur adipisicing elit. Nam
                        tempora cupiditate cumque
                        <br />

                        exercitationem quam omnis voluptate! Natus, maxime. Aperiam unde ad alias earum perferendis,
                        esse veniam sint officiis nemo nisi.
                    </p>
                </div>
            </div>
            <div class="container-fluid d-flex justify-content-center mt-2 mt-lg-5">
                <p class="col-lg-10 font3 text-center h4 " style="font-weight: 600;">Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit. Praesentium
                    similique commodi iure
                    obcaecati unde pariatur nisi, aspernatur provident magni et.</p>
            </div>
            <div class="mt-3 mt-lg-5 d-flex justify-content-center">
                <div class="container-fluid d-flex justify-content-center col-md-8 flex-column flex-md-row">
                    <div class=" d-flex align-items-center  justify-content-center col-md-6">
                        <span class="fas fa-globe color align-self-end" style="font-size: 5rem;"></span>
                        <div class="d-flex flex-column justify-content-center ms-2 ">
                            <p class=" font2 text-dark mb-0">IICRC</p>
                            <p class=" font2 text-dark mb-0 " style="font-size: 12px;">Lorem, ipsum dolor sit amet
                                <br> consectetur elit.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center col-md-6 mt-4 mt-md-0">
                        <span class=" fas fa-globe color" style="font-size: 5rem;"></span>
                        <div class="  d-flex flex-column justify-content-center ms-2 ">
                            <p class=" font2 text-dark mb-0">IICRC</p>
                            <p class=" font2 text-dark mb-0" style="font-size: 12px;">Lorem, ipsum dolor sit amet
                                <br> consectetur elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid d-flex justify-content-center  mt-4">

                <div
                    class=" col-md-12 col-lg-10 d-flex justify-content-around justify-content-lg-center flex-column flex-lg-row">
                    <div class="col me-lg-5">
                        <p class="font2 text-dark">Lorem ipsum dolor sit amet, consectetur adipisicdding elit. Facere,
                            quo.
                        </p>
                        <p class="font1 text-dark text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Omnis
                            rerum,
                            neque sit
                            doloremque iure
                            esse impedit doloribus aperiam debitis vitae nulla laborum blanditiis amet quae? Repudiandae
                            laudantium nisi doloribus. Explicabo repudiandae ad iusto, magni facilis eligendi ea
                            voluptatem.
                            Fugiat, aliquam incidunt. Expedita neque aliquam deserunt at asperiores illo molestias eius
                            architecto, ab mollitia laborum a praesentium perferendis repudiandae in ducimus ratione
                            vitae
                            maiores debitis repellendus commodi et, nemo rem? Molestiae perferendis ex necessitatibus
                            repudiandae suscipit iste cum dignissimos. Totam recusandae repellat impedit cum reiciendis
                            sunt
                            sed iste fugit. Repudiandae iusto perspiciatis illum eum ratione quidem! Adipisci nulla ad
                            provident optio!</p>
                    </div>
                    <div class="col">
                        <p class="font2 text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere,
                            quo.
                        </p>
                        <p class="font1 text-dark text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Omnis
                            rerum,
                            neque sit
                            doloremque iure
                            esse impedit doloribus aperiam debitis vitae nulla laborum blanditiis amet quae? Repudiandae
                            laudantium nisi doloribus. Explicabo repudiandae ad iusto, magni facilis eligendi ea
                            voluptatem.
                            Fugiat, aliquam incidunt. Expedita neque aliquam deserunt at asperiores illo molestias eius
                        </p>
                        <p class="font2 text-dark text-dark">Lorem ipsum dolor aliquam incidunt. Expedita neque aliquam
                            deserunt
                            at
                            asperiores illo molestias eius sit amet, consectetur adipisicing elit. Facere, quo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid d-flex justify-content-center  mt-4">

                <div
                    class=" col-md-12 col-lg-10 d-flex justify-content-around justify-content-lg-center flex-column flex-lg-row">
                    <div class="col me-lg-5">
                        <p class="font2 text-dark">Lorem ipsum dolor sit amet, consectetur adipisicdding elit. Facere,
                            quo.
                        </p>
                        <p class="font1 text-dark text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Omnis
                            rerum,
                            neque sit
                            doloremque iure <br>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2  my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?

                            </p>

                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2  my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?
                                Repudiandae
                                laudantium</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2  my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?
                                Repudiandae
                                laudantium</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2  my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?
                                Repudiandae
                                laudantium</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2  my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?
                                Repudiandae
                                laudantium</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2  my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?
                                Repudiandae
                                laudantium</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2  my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?
                                Repudiandae
                                laudantium</p>
                        </div>
                    </div>
                    <div class="col">
                        <p class="font2 text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere,
                            quo.
                        </p>
                        <p class="font1 text-dark text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Omnis
                            rerum,
                            neque sit
                            doloremque iure
                            esse impedit doloribus aperiam debitis vitae nulla laborum blanditiis amet quae? Repudiandae

                        </p>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2  my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?
                                Repudiandae
                                laudantium</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2  my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?
                                Repudiandae
                                laudantium</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2  my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?
                                Repudiandae
                                laudantium</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2  my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?
                                Repudiandae
                                laudantium</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <p class="fas fa-arrow-right me-2 my-0"></p>
                            <p class="font text-dark mb-0"> esse impedit doloribus aperiam debitis vitae nulla laborum
                                blanditiis amet quae?
                                Repudiandae
                                laudantium</p>
                        </div>
                        <p class="font2 text-dark text-dark">Lorem ipsum dolor aliquam incidunt. Expedita neque aliquam
                            deserunt
                            at
                            asperiores illo molestias eius sit amet, consectetur adipisicing elit. Facere, quo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid my-4 p-0">

                <p class="h3 text-center ">
                    <span class="wh-100 font2 border-3 border-bottom border-danger pb-2  color">
                        Take A Look At Our Work
                    </span>
                </p>
            </div>
            <div class="container-fluid d-flex justify-content-center  my-4 p-0">
                <div
                    class="col-md-8 col-lg-12 col-xxl-10 d-flex flex-lg-row justify-content-lg-center flex-nowrap px-2 flex-column  work-image ">
                    <div class="col-lg-4 d-flex  pb-3 pb-lg-0">
                        <img class=" col-6 me-1 " src="CCW assets/carpet-water-extraction.jpg" alt="">

                        <img class="col-6 " src="CCW assets/carpet-cleaners.jpg" alt="">
                    </div>
                    <div class="col-lg-4 d-flex px-lg-3 pb-3 pb-lg-0">

                        <img class="col-6 me-1" src="CCW assets/download.png" alt="">

                        <img class="col-6 " src="CCW assets/How-to-Steam-Clean-Carpets.jpg" alt="">

                    </div>
                    <div class="col-lg-4 d-flex ">

                        <img class="col-6 me-1" src="CCW assets/carpet-water-extraction.jpg" alt="">

                        <img class="col-6 " src="CCW assets/carpet-cleaners.jpg" alt="">

                    </div>
                </div>
            </div>
            <div class="container-fluid   mt-xl-5 p-0">
                <p class="h3 text-center ">
                    <span class="wh-100 font2 border-3 border-bottom border-danger pb-2  color">
                        Frequently Asked Questions
                    </span>
                </p>
            </div>

            <div class="d-flex justify-content-center pt-3">
                <div class="col-md-10 col-xl-9 list-unstyled p-3 p-md-0">
                    <li
                        class="border border-2  ps-4 my-2 py-2  d-flex justify-content-between align-items-center  font2 text-dark">
                        <p>Lorem
                            ipsum dolor sit amet consectetur adipisicing elit.
                            Porro?</p>

                        <span class="fas fa-plus ms-4 me-3"></span>
                    </li>
                    <li
                        class="border border-2  ps-4 my-2 py-2  d-flex justify-content-between align-items-center font2 text-dark">
                        Lorem
                        Lorem ipsum dolor sit amet consectetur Porro?
                        <span class="fas fa-plus me-3"></span>
                    </li>
                    <li
                        class="border border-2  ps-4 my-2 py-2  d-flex justify-content-between align-items-center font2 text-dark">
                        Lorem
                        Lorem ipsum dolor sit amet ?
                        <span class="fas fa-plus me-3"></span>
                    </li>
                    <li
                        class="border border-2  ps-4 my-2 py-2  d-flex justify-content-between align-items-center font2 text-dark">
                        Lorem
                        Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Porro?
                        <span class="fas fa-plus me-3"></span>
                    </li>
                    <li
                        class="border border-2  ps-4 my-2 py-2  d-flex justify-content-between align-items-center font2 text-dark">
                        Lorem
                        Lorem ipsum dolor sit amet ?
                        <span class="fas fa-plus me-3"></span>
                    </li>

                </div>
            </div>
        </div>
        <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
            </script>
    </body>


</html>