html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.MuiTablePagination-displayedRows,
.MuiTablePagination-selectLabel {
  margin-bottom: 0;
}
.MuiModal-root {
  width: auto !important;
}
.translate-middle {
  font-size: 14px !important;
  padding: 3.5px 6.5px !important;
}

main {
  overflow-y: auto;
}
.clear-icon {
  position: absolute !important;
  left: -25px !important;
  padding: 5px;
  border-radius: 50%;
}
.clear-icon > svg {
  height: 14px;
  width: 14px;
  color: gray;
}
.clear-icon:hover {
  background-color: #f1f1f1;
}
