html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.MuiTablePagination-displayedRows,
.MuiTablePagination-selectLabel {
  margin-bottom: 0;
}
/* .MuiBackdrop-root {
  width: 10vw !important;
} */
.MuiModal-root {
  /* display: none; */
  /* width: 10vw !important; */
  width: auto !important;
}
.translate-middle {
  font-size: 14px !important;
  padding: 3.5px 6.5px !important;
}

/* .MuiMenu-paper {
  overflow-y: hidden !important;
} */
main {
  overflow-y: auto;
}
