body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgb(243, 243, 243) !important;
  position: relative;
}
.font-size {
  font-size: 14px;
}
header {
  background: url("https://adn-static1.nykaa.com/media/wysiwyg/2021/topstrips14.jpg");
  background-size: cover;
}
.font-color {
  color: rgb(243, 243, 243) !important;
}
#herobox {
  background: url("https://images-static.nykaa.com/uploads/7ec82dc0-0a76-437a-bb53-bb31b691388a.jpg?tr=w-1200,cm-pad_resize");
  background-size: cover;
  height: 20vh;
}
