BODY {
	margin:0;
	padding:0;
}

.header {
	width:100%;
	height:10%;
	background-color:blue;
	color:white;
	text-align:center;
}
.main {
	height:80%;
	
}

.main .a1,.a3,.a2 {
	height:100%;
	float:left;
	text-align:center;
}

.a1, .a3 {
	width:20%;
	background-color:skyblue;	
}

.a2 {
	width:60%;
	background-color:orange;
}

.footer {
	width:100%;
	height:10%;
	background-color:blue;
	color:white;
	text-align:center;
}

.controls {
	width:50%;
	height:44.7rem;
	float:left;
	text-align:left;
}
.controls div {
	margin:10px;
}

.controls lable {
	width
}