body {
  margin: 0;
  padding: 0;
}

/* ***********************  Header  **************************** */

.header {
  width: 100%;
  height: 4rem;
  min-width: 320px;
  position: relative;
  background: transparent;
  display: flex;
  border-bottom: 0.01px solid #dedede;
}
.main {
  padding: 0.5rem;
  width: 100%;
  height: 75%;
  display: flex;
  position: relative;
}
.title {
  min-width: 10%;
  width: 10.93%;
  vertical-align: middle;
  height: 100%;
  display: flex;
  padding-right: 1.875rem;
}
.main-menu {
  display: inline-block;
  margin: 0 0.25rem;
  padding: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.main-menu:hover,
.search:hover,
.search-option-div:hover,
.tooltip:hover,
.setting-logo:hover,
.apps-div:hover,
.profile-img:hover,
.new-hangout:hover,
.calender-innerdiv:hover {
  background-color: #dedede;
  cursor: pointer;
}
.main-menu svg {
  fill: currentColor;
  color: #5f6368;
  opacity: 1;
  cursor: pointer;
}

.logo {
  padding-left: 0px;
  position: relative;
  width: 6.813rem;
  height: 2.5rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
.searchbar-area {
  width: 82.5%;
  vertical-align: middle;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.searchbar {
  width: 74%;
  height: 98%;
  display: flex;
  align-items: center;
}
.searchbar-div {
  padding-left: 10px;
  padding-right: 30px;
  width: 1570px;
}
.searchbar-innerdiv {
  width: 50.05%;
  height: 100%;
  background-color: #f1f3f4;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search-icon {
  display: flex;
  justify-content: center;
  height: 2.875rem;
  width: 2.875rem;
  padding-left: 0.8%;
  padding-right: 0.695%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.search-icon > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.search-icon svg {
  height: 1.5rem;
  width: 1.5rem;
  margin: 3px;
  color: #5f6368;
  opacity: 0.6;
}

.search-form {
  height: 97.84%;
  width: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  background: transparent;
  height: 43.5%;
  width: 100%;
  border: none;
  outline: none;
  font: normal 16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial,
    sans-serif;
  color: rgb(133, 133, 133);
}
.search-option-div {
  width: 5.645%;
  height: 88%;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 19.1%;
  border-radius: 50%;
  color: #5f6368;
  opacity: 0.6;
}
.setting {
  width: 5.65%;
  height: 92%;
  display: flex;
}
.setting div {
  width: 27.3%;
  height: 54.38%;
  margin: 2px;
  padding: 8px;
}
.setting svg {
  color: #5f6368;
  opacity: 0.6;
}
.tooltip {
  border-radius: 50%;
}
.setting-logo {
  margin-left: 0.6px;
  border-radius: 50%;
}
.profile {
  width: 4.7%;
  height: 100%;
  display: flex;
  align-items: center;
}
.profile div {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.apps-div {
  width: 26.83%;
  height: 50%;
  margin: 2px 2px 2px 1px;
  padding: 8px;
}
.apps {
  color: #5f6368;
  opacity: 0.6;
}
.profile-img {
  width: 44.71%;
  height: 83.35%;
  border-radius: 50%;
  margin-left: 7%;
}
.profile-logo {
  border-radius: 50%;
}

/* ***********************  Main  **************************** */

main {
  height: 93.01vh;
  /* height: 50.9rem; */
  width: 100vw;
  display: flex;
}
/* ***********************  side bar  **************************** */
.navigation {
  height: 100%;
  width: 255px;
  display: flex;
  flex-direction: column;
}
.mail-options {
  width: 100%;
  /* height: 31.327%; */
  height: 273px;
  /* background-color: lightgreen; */
  border-bottom: 0.01px solid #dedede;
}

.compose {
  height: 48px;
  /* height: 37.37%; */
  margin: 16px 0px;
  padding-left: 8px;
  width: 248px;
  width: 96.88%;
}
.composemail {
  /* height: 100%; */
  height: 99.5%;
}
.composemail-container {
  background-color: white;
  width: 144px;
  height: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  cursor: pointer;
}
.composemail-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  background-repeat: no-repeat;
}
.compose-text {
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
  color: #3c4043;
  opacity: 0.8;
}
.mail-navigations {
  height: 70.7%;
  /* width: 99.88%; */
  width: 93.758%;

  display: flex;
  flex-direction: column;
}
.inbox {
  height: 38px;
  width: 100%;
  border-radius: 0px 16px 16px 0px;
  background-color: #fce8e6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d93025;
  cursor: pointer;
  line-height: 20px;
}

.inbox-icon {
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  padding-right: 18px;
  margin-left: 12px;
}

.inbox-text {
  height: 20px;
  width: 164px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.inbox-font {
  font-size: 0.875rem;
  letter-spacing: 0.2px;
}
.inbox-badge {
  font-size: 0.75rem;
  letter-spacing: 0.2px;
}
.mail-options-text {
  height: 20px;
  width: 164px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.common-navigations {
  height: 38px;
  width: 100%;
  border-radius: 0px 16px 16px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  cursor: pointer;
}
.common-navigations:hover {
  background-color: #eee;
}
.mail-options-icons {
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  padding-right: 18px;
  margin-left: 12px;
  opacity: 0.54;
}

.draft-text {
  font-weight: bold;
}
.starred-icon {
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/grade_black_20dp.png");
}
.snoozed-icon {
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/watch_later_black_20dp.png");
}
.sent-icon {
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/send_black_20dp.png");
}
.draft-icon {
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/insert_drive_file_black_20dp.png");
}
.more-icon {
  background-image: url("	https://www.gstatic.com/images/icons/material/system/1x/expand_more_black_20dp.png");
}
.new-meet-icon {
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/videocam_black_20dp.png");
}
.join-meeting-icon {
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/keyboard_black_20dp.png");
}
.meetingl-container {
  width: 100%;
  /* height: 104px; */
  /* background-color: lightgreen; */
  border-bottom: 0.01px solid #dedede;
  /* height: 11.934%;
  margin-bottom: 4.19%;
  padding-bottom: 4.19%; */
  height: 104px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.meetingl-container:hover .scroll {
  background-color: #eee;
}
.meeting-scroll:hover {
  cursor: row-resize;
}
.meeting-scroll {
  height: 8px;
  display: flex;
  justify-content: center;
}
.meeting-scroll > .scroll {
  width: 32px;
  height: 4px;
  border-radius: 5px;
}
.meet-container {
  /* height: 70.7%; */
  /* height: 82.7%; */
  height: 97.5px;
  width: 93.758%;
  display: flex;
  flex-direction: column;
}
.meet-title {
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  line-height: 32px;
  /* background-color: skyblue; */
  font-weight: 500;
  margin-left: 26px;
  margin-right: 12px;
}
.hangout-container {
  /* height: 447px; */
  /* height: 437.5px; */
  width: 255px;
  border-bottom: 0.01px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.hangout {
  height: 71px;
  display: flex;
  flex-direction: column;
  width: 201px;
  margin-left: 26px;
}
.hangouts-title {
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  line-height: 32px;
  font-weight: 500;
}
.hangouts-profile {
  width: 93.94%;
  height: 8.725%;
  display: flex;
  border-bottom: 0.01px solid #dedede;
  flex-grow: 1;
}
.hangouts-profile-innerdiv {
  width: 85.795%;
  height: 71.8%;
  display: flex;
  align-items: center;
}
.new-hangout {
  height: 32px;
  width: 32px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  opacity: 0.54;
}
.hangouts-profile-icon {
  width: 28px;
  height: 28px;
  padding-right: 5px;
  position: relative;
}
.hangouts-profile-icon img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.chats {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.active-status {
  position: relative;
  height: 10px;
  width: 10px;
  background-color: #35ac19;
  border-radius: 50%;
  left: 22px;
  bottom: 12px;
}
.dropdown-icon {
  height: 0px;
  width: 0px;
  margin-left: 5px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid gray;
}
.recent-chats-container {
  /* width: 100%; */
  height: 80%;
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hangouts-recent-chats-icon {
  height: 72px;
  width: 72px;
  margin: 8px 72.5px 20px;
}
.hangouts-recent-chats-icon .img {
  background: no-repeat
    url("	https://ssl.gstatic.com/chat/babble/sprites/common-517bca7f07a37c64c3263a1411e266a5.png") -649px -108px;
  width: 72px;
  height: 72px;
}
.hangouts-text {
  width: auto;
  height: 19px;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #737373;
}

.hangouts-text2 {
  color: #1155cc;
}
.hangouts-contact-container {
  height: 33px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contacts {
  width: 21px;
  height: 17px;
  padding: 6px 8px 10px;
  opacity: 0.54;
}
.contacts img {
  width: 21px;
  height: 21px;
}
.conversations {
  width: 30px;
  height: 30px;
  padding: 2px 4px 1px 3px;
  background: rgba(102, 102, 102, 0.06);
  opacity: 1;
  border-left: 0.01px solid #dedede;
  border-right: 0.01px solid #dedede;
}
.conversations-icon {
  width: 30px;
  height: 30px;
  background: no-repeat
    url("https://ssl.gstatic.com/mail/sprites/hangouts_black-734a4722bcd0d29f1eba9aaa722c7c76.png")
    0px -150px;
}

/* *********************** All Mails  **************************** */
.mail-container {
  height: 100%;
  width: 83.75%;
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
}
.filter-panel {
  height: 48px;
  width: 1608px;
  background: transparent;
  border-bottom: 0.01px solid #dedede;
}
.filter-panel-innerdiv {
  height: 100%;
  width: 1560px;
  padding: 0px 16px;
  margin-right: 16px;
  /* background-color: lightgreen; */
  display: flex;
  align-items: center;
}
.filter-panel-main {
  width: 100%;
  height: 20px;
  /* background-color: gray; */
  display: flex;
  justify-content: space-between;
}
.refresh-menus {
  height: 100%;
  /* background-color: skyblue; */
  width: 140px;
  display: flex;
}
.filter-menus {
  height: 100%;
  /* background-color: skyblue; */
  width: 224px;
  display: flex;
  justify-content: space-around;
}
.select-option {
  width: 60px;
  display: flex;
  align-items: center;
}
.selection-icon {
  opacity: 0.54;
}
.refresh-icon {
  width: 41px;
  opacity: 0.54;
}
.filter-more-icon {
  width: 40px;
  opacity: 0.54;
}
.old-new-option {
  width: 78px;
  height: 100%;
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
}
.old-new-slider {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.input-tools-icon {
  width: 33px;
  height: 20px;
  display: flex;
  align-items: center;
}
.input-tools-icon-img {
  width: 20px;
  height: 16px;
  background-position: -14px -17px;
  background-image: url("https://www.gstatic.com/inputtools/images/ita_sprite8.png");
}
.mail-header {
  width: 1592px;
  height: 56px;
  /* background-color: skyblue; */
  display: flex;
}
.header-options {
  width: 251px;
  height: 100%;
  display: flex;
  align-items: center;
}

.primary-icon {
  width: 20px;
  height: 20px;
  margin: 0px 16px;
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/inbox_gm_googlered600_20dp.png");
}
.social-icon {
  width: 20px;
  height: 20px;
  margin: 0px 16px;
  background-image: url("	https://www.gstatic.com/images/icons/material/system/1x/people_black_20dp.png");
}
.promotion-icon {
  width: 20px;
  height: 20px;
  margin: 0px 16px;
  background-image: url("https://www.gstatic.com/images/icons/material/system/1x/local_offer_black_20dp.png");
}

.primary-text {
  width: 51px;
  height: 16px;
  font-weight: 500;
  color: #d93025;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
}
.social-promotion-text {
  color: black;
}
/* ***********************  Side Panel  **************************** */
.side-panel {
  height: 100%;
  width: 2.865%;
}
.panel-elements-container {
  height: 93.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.calender-container {
  height: 56px;
  width: 56px;
}
.calender-innerdiv {
  height: 40px;
  width: 40px;
  margin: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-item {
  height: 20px;
  width: 20px;
}
.saperator-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saperator {
  height: 0px;
  width: 20px;
  border-top: 1px solid #dadce0;
  margin: 16px 17.5px 0px;
  padding-bottom: 16px;
}
.side-panel-show-hide {
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
